@mixin input-placeholder {
  ::-webkit-input-placeholder,
  {
    @content;
  }
  :-moz-placeholder {/* Firefox 18- */
    @content;
  }
  ::-moz-placeholder {/* Firefox 19+ */
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
@mixin container {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
 
  @media(min-width:$tablet-width) {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
  @media(min-width:$desktop-width) {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}
