$text-color: rgb(0,0,0);
$text-color-contrast: rgb(255,255,255);
$color-second: #63d1bb;
$color-third: rgb(68,68,68);
$bg-color: rgb(255,255,255);
$bg-color-second: rgb(241,241,241);
$interior-bg-color: #63d1bb;
$toys-bg-color: #56c3b2;
$border-color: #ececec;
$border-color-checked: #63d1bb;
$modal-border-color: #c7c7c7;
