/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.container {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; } }

@media (min-width: 1150px) {
  .container {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; } }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  background-color: white;
  color: black; }

img {
  max-width: 100%;
  height: 100%; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  position: relative;
  color: black; }

.page-header__wrapper {
  border-bottom: 1px solid #ececec; }

.page-header__inner {
  padding-top: 22px;
  padding-bottom: 22px; }

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 36px; }

.page-header__logo[href]:hover {
  opacity: 0.6;
  cursor: pointer; }

.page-header__logo[href]:active {
  opacity: 0.3; }

.page-header__logo img {
  display: block;
  width: 86px;
  height: 36px; }

@media (min-width: 768px) {
  .page-header__wrapper {
    position: relative;
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    border: none; }
  .page-header__inner {
    padding: 0; }
  .page-header__logo {
    position: absolute;
    top: 22px;
    left: 50px;
    width: 114px;
    height: 46px; } }

@media (min-width: 1150px) {
  .page-header__wrapper {
    background-color: transparent;
    width: 1050px; }
  .page-header__logo {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 149px;
    height: 72px; } }

.main-nav {
  width: 100%;
  color: #000000;
  background-color: white; }

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  font-size: 0px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat; }

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu-open.svg"); }

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg"); }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none; }
  .main-nav--closed .main-nav__user {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    width: 100%;
    position: absolute;
    top: 81px;
    left: center;
    z-index: 10;
    background-color: white; }
  .main-nav--nojs .main-nav__wrapper {
    width: 100%;
    position: static;
    height: auto; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__item {
    display: block; }
  .main-nav--nojs .main-nav__user {
    display: block; } }

.main-nav__list,
.main-nav__hidden-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  border-bottom: 1px solid #ececec; }

.main-nav__item-link {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  color: black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center; }
  .main-nav__item-link[href]:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer; }
  .main-nav__item-link[href]:active {
    color: rgba(0, 0, 0, 0.3); }

.main-nav__hidden-item {
  display: none; }

@media (min-width: 768px) {
  .main-nav {
    background-color: transparent; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    width: 668px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-color: transparent; }
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-order: 0;
        order: 0; }
  .main-nav__item {
    width: 167px;
    margin: 0;
    padding: 0;
    border: none; }
  .main-nav__item-link {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700; }
  .main-nav__user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-order: -1;
        order: -1; }
  .main-nav__hidden-item--delivery {
    display: block;
    width: 334px;
    text-align: right; }
  .main-nav__hidden-link {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    color: black; }
    .main-nav__hidden-link--delivery {
      display: block;
      padding-top: 20px;
      padding-bottom: 5px; } }

@media (min-width: 1150px) {
  .main-nav__wrapper {
    width: 1050px; }
  .main-nav__list {
    -ms-flex-order: -3;
        order: -3; }
  .main-nav__item:last-of-type {
    border-left: 1px solid #ececec; }
  .main-nav__item-link {
    width: 183px;
    padding-top: 35px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700; }
    .main-nav__item-link--order {
      width: 230px;
      padding-left: 35px;
      padding-right: 35px; }
  .main-nav__user {
    margin-left: auto;
    -ms-flex-order: -2;
        order: -2; }
  .main-nav__hidden-list {
    width: 1050px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: -1;
        order: -1; }
  .main-nav__hidden-item {
    display: block;
    width: auto; }
    .main-nav__hidden-item:first-of-type {
      margin-right: 60px; }
    .main-nav__hidden-item--delivery {
      width: 350px;
      margin-left: auto; }
  .main-nav__hidden-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700; }
    .main-nav__hidden-link--delivery {
      font-weight: 400; } }

.search-field {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec; }

.search-field__inner {
  position: relative; }

.search-field__input[type="search"] {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 46px;
  padding-right: 5px;
  box-sizing: border-box;
  border: none; }
  .search-field__input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #d0f1ea; }
  .search-field__input[type="search"]::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: black; }
  .search-field__input[type="search"]:-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: black; }
  .search-field__input[type="search"]::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: black; }

.search-field__label {
  font-size: 0px; }

.search-field__button {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 5px;
  left: 2px;
  font-size: 0px;
  background-color: white;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  border: none; }

.search-field__button:hover {
  opacity: 0.6; }

.search-field__button:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .search-field {
    width: 82px;
    padding: 0;
    margin: 0;
    margin-left: 320px;
    border: none;
    border-left: 1px solid #ececec;
    text-align: center; }
  .search-field__label {
    display: none; }
  .search-field__input {
    display: none; }
  .search-field__button {
    position: static;
    margin-top: 36px;
    margin-bottom: 33px; } }

@media (min-width: 1150px) {
  margin-left: 0; }

.shopping-cart {
  border-bottom: 1px solid #ececec; }

.shopping-cart__link {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none; }
  .shopping-cart__link::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 18px;
    top: 0px;
    left: 0px;
    background-color: white;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.2; }

@media (min-width: 768px) {
  .shopping-cart {
    width: 264px;
    border: none;
    border-left: 1px solid #ececec; }
  .shopping-cart__link {
    margin: 0;
    margin-left: 32px;
    padding-left: 52px;
    margin-top: 36px; } }

.goods {
  margin-bottom: 35px; }

.goods__innner {
  padding-top: 80px; }

.goods__header {
  padding-bottom: 127px;
  background-color: white;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.goods__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700; }

.goods__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.goods__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: white; }
  .goods__item--interior {
    background-color: #63d1bb; }
  .goods__item--toys {
    background-color: #56c3b2; }
  .goods__item:active {
    color: rgba(255, 255, 255, 0.3); }

.goods__item-inner {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.goods__item-name {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 155px; }
  .goods__item-name--interior {
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 95% center; }
  .goods__item-name--toys {
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 95% center; }

@media (min-width: 768px) {
  .goods {
    margin-top: -49px;
    border-top: 1px solid #ececec;
    margin-bottom: 60px; }
  .goods__innner {
    padding-top: 80px; }
  .goods__title {
    margin-right: 85px;
    margin-left: 85px;
    margin-bottom: 380px;
    font-size: 43px;
    line-height: 50px; }
  .goods__list {
    -ms-flex-direction: row;
        flex-direction: row;
    width: 668px;
    margin: 0 auto; }
  .goods__item {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px; }
  .goods__item-inner {
    width: 262px;
    padding: 0 36px; }
  .goods__item-name {
    padding-rigth: 189px; } }

@media (min-width: 1150px) {
  .goods {
    margin-top: -49px;
    margin-bottom: 140px;
    border-top: none; }
  .goods__innner {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    border-top: 1px solid #ececec; }
  .goods__title {
    margin-right: 199px;
    margin-left: 199px;
    margin-bottom: 368px;
    font-size: 53px;
    line-height: 57px; }
  .goods__list {
    width: 1050px;
    margin: 0 auto; }
  .goods__item {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px; }
  .goods__item-inner {
    width: 525px;
    padding: 0 36px;
    box-sizing: border-box; }
  .goods__item-name {
    padding-right: 376px; } }

.special-offer {
  padding-bottom: 42px;
  margin-bottom: 35px;
  background-color: white;
  color: black;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom; }

.special-offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  background-color: white; }

.special-offer__detail {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb; }

.special-offer__contetns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.special-offer__text {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: black; }

.special-offer__specification {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400; }

.special-offer__parameters {
  border-bottom: 1px solid #ececec; }

.special-offer__parameter {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-right: 0px;
  text-align: left; }

.special-offer__value {
  padding-top: 15px;
  padding-bottom: 12px; }

.special-offer__img {
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px; }

.special-offer__img img {
  display: block;
  max-width: 100%; }

.special-offer__buy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.special-offer__price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444; }

@media (min-width: 768px) {
  .special-offer {
    padding-bottom: 96px;
    margin-bottom: 75px; }
  .special-offer__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 57px; }
  .special-offer__title {
    width: 500px;
    margin: 0;
    padding: 0;
    font-size: 43px;
    line-height: 50px; }
  .special-offer__detail {
    width: 72px;
    min-height: 34px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-left: 70px;
    text-align: center;
    font-size: 17px;
    line-height: 17px; }
  .special-offer__contetns {
    position: relative;
    width: 668px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .special-offer__description {
    width: 290px;
    margin-right: 44px; }
  .special-offer__text {
    margin-bottom: 20px; }
  .special-offer__specification {
    margin-bottom: 54px; }
  .special-offer__img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 334px;
    margin-bottom: 0;
    height: 404px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .special-offer__img img {
    width: 334px;
    height: 404px; }
  .special-offer__buy {
    width: 290px;
    margin-right: 44px; }
  .special-offer__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px; } }

@media (min-width: 1150px) {
  .special-offer {
    padding-bottom: 69px;
    margin-bottom: 65px; }
  .special-offer__inner {
    position: relative; }
  .special-offer__header {
    position: relative;
    margin-bottom: 40px; }
  .special-offer__title {
    position: relative;
    width: auto;
    -ms-flex-order: 2;
        order: 2;
    margin-bottom: 55px;
    font-size: 53px;
    line-height: 57px;
    background-color: transparent;
    z-index: 2; }
  .special-offer__detail {
    margin-left: 46px;
    margin-right: 56px; }
  .special-offer__contetns {
    position: static;
    width: 875px;
    margin-left: 175px; }
  .special-offer__description {
    width: 292px;
    margin-right: 58px; }
  .special-offer__text {
    margin-bottom: 40px; }
  .special-offer__specification {
    margin-bottom: 74px; }
  .special-offer__img {
    position: absolute;
    width: 525px;
    height: 635px;
    top: -40px;
    right: 0px; }
  .special-offer__img img {
    width: 525px;
    height: 635px; } }

.button {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background-color: white;
  box-shadow: none;
  text-decoration: none; }
  .button:hover {
    color: white;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }
  .button--reviews {
    text-align: center; }
  .button--feedback {
    width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .button--submit {
    display: block;
    width: 100%;
    border-color: #63d1bb;
    background-color: #63d1bb;
    color: white; }
  .button--submit:hover {
    border-color: #3cc5aa;
    background-color: #3cc5aa; }
  .button--make-oder {
    display: block;
    margin-left: 34px;
    width: 188px;
    text-align: center; }
  .button--sent-order {
    display: block;
    width: 100%;
    text-align: center; }

@media (min-width: 768px) {
  .button--reviews {
    width: 176px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 90px;
    margin-left: auto;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    -ms-flex-order: 2;
        order: 2; }
  .button--feedback {
    width: 226px;
    margin-bottom: 56px; }
  .button--make-oder {
    margin-left: 42px;
    width: 580px; }
  .button--sent-order {
    width: 226px;
    line-height: 17px; } }

@media (min-width: 1150px) {
  .button--feedback {
    margin-left: 175px; }
  .button--make-oder {
    width: 226px;
    margin-left: 74px;
    text-align: center; } }

.advantages {
  margin-bottom: 65px; }

.advantages__title {
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  background-color: white; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 10% top; }

.advantages-item--quality {
  padding-top: 60px;
  padding-bottom: 32px;
  background-image: url("../img/icon-feature-1.svg"); }

.advantages-item--price {
  padding-top: 60px;
  padding-bottom: 35px;
  background-image: url("../img/icon-feature-3.svg"); }

.advantages-item--feature {
  padding-top: 52px;
  padding-bottom: 35px;
  background-image: url("../img/icon-feature-5.svg"); }

.advantages-item--handmade {
  padding-top: 56px;
  padding-bottom: 35px;
  background-image: url("../img/icon-feature-2.svg"); }

.advantages-item--produced {
  padding-top: 55px;
  padding-bottom: 35px;
  background-image: url("../img/icon-feature-4.svg"); }

.advantages-item--package {
  padding-top: 55px;
  padding-bottom: 0px;
  background-image: url("../img/icon-feature-6.svg"); }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 23px; }
  .advantages__title {
    margin-bottom: 52px;
    font-size: 43px;
    line-height: 50px; }
  .advantages__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    width: 334px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px; }
  .advantages-item--quality {
    padding-top: 60px;
    padding-bottom: 32px;
    padding-right: 6px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 0;
        order: 0; }
  .advantages-item--price {
    padding-top: 60px;
    padding-bottom: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 2;
        order: 2; }
  .advantages-item--feature {
    padding-top: 52px;
    padding-bottom: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 4;
        order: 4; }
  .advantages-item--handmade {
    padding-top: 56px;
    padding-bottom: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 1;
        order: 1; }
  .advantages-item--produced {
    padding-top: 55px;
    padding-bottom: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 3;
        order: 3; }
  .advantages-item--package {
    padding-top: 55px;
    padding-bottom: 0px;
    padding-right: 2px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 5;
        order: 5; } }

@media (min-width: 1150px) {
  .advantages {
    margin-bottom: 90px; }
  .advantages__title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 55px; }
  .advantages__list {
    width: 700px;
    margin: 0 auto; }
  .advantages__item {
    width: 350px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px; } }

.reviews {
  padding-bottom: 50px; }

.reviews-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0px; }

.reviews__title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  background-color: white; }

.reviews__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0; }

.reviews__text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400; }

.reviews__author {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal; }

.reviews__author-email {
  margin-bottom: 30px; }

.reviews__author-email-link {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  text-decoration: none; }

.reviews__pages {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px; }

.reviews__pages-item {
  width: 129px;
  height: 50px;
  font-size: 0px;
  border: 1px solid #ececec;
  background-color: white;
  background-repeat: no-repeat; }

.reviews__pages-item--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 20% center; }

.reviews__pages-item--next {
  margin-left: -1px;
  background-image: url("../img/icon-right-arrow.svg");
  background-position: 80% center; }

@media (min-width: 768px) {
  .reviews {
    margin-bottom: 70px;
    padding-bottom: 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%; }
  .reviews-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reviews__title {
    width: 334px;
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 43px;
    line-height: 50px;
    background-color: transparent;
    -ms-flex-order: 1;
        order: 1; }
  .reviews__content {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    -ms-flex-order: 3;
        order: 3; }
  .reviews__text {
    margin-bottom: 40px; }
  .reviews__pages {
    position: absolute;
    margin: 0;
    right: 0px;
    bottom: 50px;
    width: 167px; }
  .reviews__pages-item {
    border: none;
    background-color: transparent; }
  .reviews__pages-item--prev {
    background-position: 20% center; }
  .reviews__pages-item--next {
    margin-left: 0px;
    background-position: 80% center; } }

@media (min-width: 1150px) {
  .reviews {
    margin-bottom: 65px;
    background: none; }
  .reviews-wrapper {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top; }
  .reviews__title {
    margin-left: 175px; }
  .reviews__content {
    margin-left: 175px; } }

.contacts-wrapper {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto; }

.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700; }

.contacts__information {
  width: 100%;
  margin-bottom: 70px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444; }

.contacts__parameter {
  width: 78px;
  vertical-align: top; }

.contacts__value {
  vertical-align: top; }
  .contacts__value--email {
    padding-bottom: 35px; }

.contacts__link {
  text-decoration: none;
  color: #444444;
  background-image: linear-gradient(to left, #62d1ba, #62d1ba);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x; }
  .contacts__link:hover {
    color: #46c1ae;
    background-image: linear-gradient(to left, #46c1ae, #46c1ae); }
  .contacts__link:active {
    color: #46c1ae;
    background-image: linear-gradient(to left, #46c1ae, #46c1ae);
    opacity: 0.3; }

@media (min-width: 768px) {
  .contacts-wrapper {
    position: relative;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px; }
  .contacts__title {
    margin-bottom: 67px;
    font-size: 43px;
    line-height: 50px; }
    .contacts__title::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 81px;
      top: 0px;
      right: 50px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .contacts__information {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 56px;
    font-size: 17px;
    line-height: 30px; }
  .contacts__information tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__date {
    margin-right: 65px; }
    .contacts__date:last-of-type {
      margin-right: 0px; } }

@media (min-width: 1150px) {
  .contacts {
    width: 1050px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px; }
  .contacts-wrapper {
    width: 525px;
    padding-left: 0;
    padding-right: 525px;
    margin: 0; }
  .contacts__title {
    padding-right: 50px;
    margin-top: 70px;
    margin-left: 175px;
    margin-bottom: 67px;
    position: relative;
    font-size: 43px;
    line-height: 50px; }
    .contacts__title::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 81px;
      top: -14px;
      left: -80px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; }
  .contacts__information {
    display: table;
    width: 301px;
    margin-left: 175px;
    margin-bottom: 40px; }
  .contacts__information tbody {
    -ms-flex-direction: column;
        flex-direction: column; }
  .contacts__date {
    margin-right: 0; } }

.map {
  position: relative;
  width: 100%;
  min-height: 457px;
  margin-bottom: 39px;
  background-color: #e7e4dd;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .map:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 67px;
    height: 100px;
    margin-left: -33px;
    margin-top: -50px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat; }

@media (min-width: 1150px) {
  .map {
    position: absolute;
    width: 525px;
    height: 458px;
    margin-bottom: 0px;
    top: 0px;
    right: 0px; } }

.page-footer {
  margin-top: 39px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

.page-footer__logo-img {
  diplay: block;
  max-width: 100%;
  height: auto; }

.page-footer__social {
  border-bottom: 1px solid #e5e5e5; }

.page-footer__social-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 145px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 39px; }

.page-footer__title {
  font-size: 0px; }

.page-footer__copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.page-footer__copyright-title {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-left: 39px;
  margin-right: 52px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700; }

.page-footer__copyright-link {
  width: 27px;
  height: 34px;
  margin-top: 33px;
  margin-bottom: 23px;
  font-size: 0px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-color: transparent; }

@media (min-width: 768px) {
  .page-footer {
    margin-top: 57px; }
  .page-footer__wrapper {
    min-height: 143px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center; }
  .page-footer__logo {
    display: block;
    margin-right: 158px;
    width: 102px;
    height: 34px; }
  .page-footer__social {
    border: none; }
  .page-footer__social-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
  .page-footer__copyright {
    -ms-flex-align: center;
        align-items: center;
    margin-left: auto; }
  .page-footer__copyright-title {
    margin: 0;
    margin-right: 30px; }
  .page-footer__copyright-link {
    margin: 0;
    padding: 0; } }

@media (min-width: 1250px) {
  .page-footer {
    margin-top: 105px; }
  .page-footer__logo {
    margin-right: 357px; } }

.social-link {
  font-size: 0px; }
  .social-link--instagram {
    width: 22px;
    height: 21px;
    margin-right: 40px;
    background-image: url("../img/icon-insta.svg");
    background-color: transparent;
    background-repeat: no-repeat; }
  .social-link--Facebook {
    width: 15px;
    height: 29px;
    margin-right: 40px;
    background-image: url("../img/icon-fb.svg");
    background-color: transparent;
    background-repeat: no-repeat; }
  .social-link--Twitter {
    width: 24px;
    height: 20px;
    background-image: url("../img/icon-twitter.svg");
    background-color: transparent;
    background-repeat: no-repeat; }

.modal {
  position: fixed;
  display: none;
  width: 320px;
  min-height: 337px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 46px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: white;
  z-index: 3; }

.modal-show {
  display: block; }

.modal__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.modal__choice-size {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  color: #444444; }

.modal__size-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 0;
  margin-bottom: 30px; }

.modal input[type="radio"] {
  display: none; }

.modal__size-label {
  width: 78px;
  min-height: 48px;
  font-size: 17px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #ececec;
  cursor: pointer; }
  .modal__size-label:hover {
    border-color: #c7c7c7; }

.modal input[type="radio"]:checked + .modal__size-label {
  border-color: #63d1bb;
  background-color: white; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

.modal-overlay-show {
  display: block; }

@media (min-width: 768px) {
  .modal {
    width: 568px;
    min-height: 338px;
    padding-left: 106px;
    padding-right: 106px;
    padding-top: 50px; }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 25px; }
  .modal__choice-size {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 24px; }
  .modal__size-label {
    width: 108px; } }

.catalog__header {
  background-color: #f1f1f1;
  margin-bottom: 30px; }

.catalog__title {
  margin: 0 auto;
  padding-left: 12px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700; }

.catalog__item {
  margin-bottom: 30px; }

.catalog__item:last-of-type {
  margin-bottom: 31px; }

.catalog__item-img {
  display: block; }

.catalog__item-wrapper {
  border: 1px solid #ededed;
  padding-left: 27px;
  padding-right: 27px; }
  .catalog__item-wrapper:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1); }
  .catalog__item-wrapper:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }

.catalog__item-inner {
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec; }

.catalog__item-name {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }

.catalog__item-link {
  text-decoration: none;
  color: black; }

.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444; }

.catalog__item-buy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 27px; }

.catalog__item-price {
  margin-top: 22px;
  color: black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700; }

.catalog__item-to-oder {
  margin-top: 22px; }

@media (min-width: 768px) {
  .catalog {
    margin-top: -49px;
    border-top: 1px solid #ececec; }
  .catalog__header {
    margin-bottom: 80px; }
  .catalog__title {
    padding-left: 150px;
    font-size: 43px;
    line-height: 50px; }
  .catalog__inner {
    margin-bottom: 53px; }
  .catalog__item {
    margin-bottom: 53px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__item:last-of-type {
    margin-bottom: 0; }
  .catalog__item-link {
    width: 334px;
    padding: 0;
    margin: 0; }
  .catalog__item-img {
    width: 334px;
    height: 334px; }
  .catalog__item-wrapper {
    width: 332px;
    padding: 0; }
  .catalog__item-inner {
    margin-left: 30px;
    margin-right: 32px;
    padding-bottom: 126px;
    border-bottom: none; }
  .catalog__item-name {
    min-height: 48px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 19px; }
  .catalog__item-description {
    font-size: 15px;
    line-height: 30px; }
  .catalog__item-buy {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 30px;
    border-top: 1px solid #ececec; }
  .catalog__item-price {
    font-size: 17px;
    line-height: 24px; } }

@media (min-width: 1150px) {
  .catalog__header {
    margin-bottom: 130px; }
  .catalog__title {
    padding-left: 300px;
    font-size: 53px;
    line-height: 57px; }
  .catalog__inner {
    margin-bottom: 56px; }
  .catalog__item {
    width: 315px;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .catalog__item-link {
    width: 315px; }
  .catalog__item-img {
    width: 315px;
    height: 100%; }
  .catalog__item-wrapper {
    width: 313px; }
  .catalog__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 55px; }
  .catalog__item-inner {
    padding-bottom: 46px; } }

.production {
  padding-top: 31px;
  border: 1px solid #ececec; }

.production__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }
  .production__title::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 23px;
    width: 32px;
    height: 28px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-color: transparent; }

.production__video {
  position: relative;
  width: 260px;
  height: 150px;
  margin-bottom: 32px; }
  .production__video:before {
    position: absolute;
    content: "";
    top: 37px;
    left: 76px;
    width: 102px;
    height: 78px;
    background-image: url("../img/icon-play.svg");
    background-color: transparent;
    background-repeat: no-repeat; }

.production__video-file {
  background-image: url("../img/video-mobile@1x.jpg");
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover; }

.production__inner {
  padding-bottom: 32px; }
  .production__inner:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1); }
  .production__inner:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }

.production__description {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  padding-right: 58px;
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400; }

@media (min-width: 768px) {
  .production {
    padding: 0;
    margin-bottom: 60px;
    border: none; }
  .production-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .production__title {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 100px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    font-size: 20px;
    line-height: 24px;
    -ms-flex-order: 1;
        order: 1; }
    .production__title::before {
      top: 35px;
      left: 42px; }
  .production__video {
    position: relative;
    margin-bottom: 0;
    width: 668px;
    height: 455px;
    -ms-flex-order: 0;
        order: 0; }
    .production__video:before {
      top: 180px;
      left: 298px; }
  .production__video-file {
    width: 668px;
    height: 455px; }
  .production__inner {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    -ms-flex-order: 3;
        order: 3; }
  .production__description {
    padding-left: 42px;
    padding-right: 44px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px; } }

@media (min-width: 1150px) {
  .production {
    width: 1050px;
    margin-bottom: 106px; }
  .production-wrapper {
    position: relative; }
  .production__video {
    position: absolute;
    width: 682px;
    height: 454px;
    top: 0px;
    left: 0px; }
    .production__video:before {
      width: 102px;
      height: 78px;
      top: 180px;
      left: 298px; }
  .production__video-file {
    width: 682px;
    height: 454px; }
  .production__title {
    position: relative;
    min-height: 48px;
    margin: 0;
    padding: 0;
    margin-left: 681px;
    padding-bottom: 42px;
    padding-top: 100px;
    padding-left: 78px;
    padding-right: 138px; }
    .production__title::before {
      position: absolute;
      top: 40px;
      left: 78px; }
  .production__inner {
    margin-left: 681px;
    padding-bottom: 36px; }
  .production__description {
    min-height: 120px;
    margin-bottom: 0;
    padding-left: 78px;
    padding-bottom: 50px; } }

.heading__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f1f1f1; }

.heading__description {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white; }

.heading__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: black; }

.heading__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444; }

@media (min-width: 768px) {
  .heading__inner {
    padding-top: 100px;
    padding-bottom: 80px; }
  .heading__title {
    font-size: 43px;
    line-height: 50px; }
  .heading__description {
    padding-top: 82px;
    padding-bottom: 60px; }
  .heading__text {
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .heading__inner {
    padding-top: 70px;
    padding-bottom: 96px; }
  .heading__description {
    padding-top: 130px;
    padding-bottom: 65px; }
  .heading__title {
    font-size: 53px;
    line-height: 57px; }
  .heading__text {
    margin-left: 175px;
    margin-right: 175px; } }

.order-options__item {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  border: none; }
  .order-options__item--type {
    margin-bottom: 45px; }
  .order-options__item--color {
    margin-bottom: 45px; }
  .order-options__item--details {
    margin-bottom: 20px; }

.order-options__item-title {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb; }
  .order-options__item-title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 10px;
    right: 0px;
    background-color: #63d1bb;
    z-index: 2; }

.order-options__item-title span {
  position: relative;
  padding-right: 25px;
  background-color: white;
  z-index: 3; }

.order-options__field {
  margin-bottom: 31px; }
  .order-options__field:last-of-type {
    margin-bottom: 0; }
  .order-options__field--text {
    margin-bottom: 25px; }
  .order-options__field--phone {
    position: relative; }
    .order-options__field--phone::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 24px;
      top: 0;
      right: 10px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-color: transparent; }
  .order-options__field--email {
    position: relative; }
    .order-options__field--email::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 25px;
      top: 0;
      right: 10px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-color: transparent; }

.order-options__input {
  font-family: inherit;
  font-style: inherit;
  color: black;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400; }
  .order-options__input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }
  .order-options__input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }
  .order-options__input::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }
  .order-options__input--radio {
    display: none; }
  .order-options__input--checkbox {
    display: none; }
  .order-options__input--text {
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black; }

.order-options__label {
  display: block;
  padding-left: 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700; }
  .order-options__label--text {
    padding-left: 0;
    margin-bottom: 18px; }

.order-options__label--radio {
  position: relative;
  cursor: pointer; }
  .order-options__label--radio::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid #444444;
    border-radius: 50%; }
  .order-options__label--radio::after {
    display: none;
    position: absolute;
    content: "";
    top: 3px;
    left: 11px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%; }

.order-options__label--checkbox {
  position: relative;
  cursor: pointer; }
  .order-options__label--checkbox::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 35px;
    top: -8px;
    left: 0;
    border: 2px solid #444444; }
  .order-options__label--checkbox::after {
    display: none;
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: -4px;
    left: 6px;
    background-image: url("../img/icon-tick.svg"); }

.order-options__label:hover::before {
  border-color: #62d1ba; }

.order-options__input:checked + .order-options__label:hover::before {
  border-color: #62d1ba; }

.order-options__input:checked + .order-options__label::after {
  display: block; }

.order-options__input:disabled + .order-options__label::before,
.order-options__input:disabled + .order-options__label:hover::before,
.order-options__input:disabled:checked + .order-options__label::before,
.order-options__input:disabled:checked + .order-options__label:hover::before {
  border-color: #c9c9c9; }

.order-options__message {
  width: 100%;
  min-height: 142px;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid black;
  font-family: inherit;
  font-style: inherit;
  color: black;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400; }
  .order-options__message::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }
  .order-options__message:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }
  .order-options__message::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444; }

.order-options__legend {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  background-color: white; }

@media (min-width: 768px) {
  .order-options__item {
    margin-bottom: 0; }
    .order-options__item--type {
      margin-bottom: 70px; }
    .order-options__item--color {
      padding-top: 70px;
      margin-bottom: 70px;
      background-color: #f1f1f1; }
    .order-options__item--name {
      padding-bottom: 50px;
      background-color: white; }
    .order-options__item--phone {
      padding-top: 65px;
      padding-bottom: 40px;
      background-color: #f1f1f1; }
    .order-options__item--email {
      background-color: #f1f1f1;
      padding-bottom: 50px; }
    .order-options__item--details {
      padding-top: 50px;
      margin-bottom: 50px; }
  .order-options__item-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: baseline;
        align-items: baseline; }
  .order-options__item-title {
    width: 167px; }
    .order-options__item-title::before {
      display: none; }
    .order-options__item-title--details {
      margin-top: 20px; }
  .order-options__item-title span {
    padding-right: 0;
    background-color: transparent; }
  .order-options__controls {
    width: 501px;
    padding-bottom: 0; }
    .order-options__controls--color {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .order-options__field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: baseline;
        align-items: baseline;
    margin-bottom: 0;
    padding-bottom: 0; }
    .order-options__field--type {
      margin-bottom: 67px; }
    .order-options__field--color {
      width: 238px;
      margin-right: 24px;
      margin-bottom: 63px; }
      .order-options__field--color:nth-of-type(2n) {
        margin-right: 0; }
    .order-options__field--text {
      padding-bottom: 0;
      margin-bottom: 40px;
      border: none; }
      .order-options__field--text:last-of-type {
        margin-bottom: 0; }
    .order-options__field--phone {
      padding-bottom: 0; }
  .order-options__label {
    font-size: 19px;
    line-height: 19px; }
  .order-options__label--radio {
    padding-left: 80px; }
    .order-options__label--radio::before {
      top: -14px;
      left: 0;
      width: 50px;
      height: 48px; }
    .order-options__label--radio::after {
      top: 1px;
      left: 16px;
      width: 22px;
      height: 22px; }
  .order-options__label--checkbox {
    padding-left: 80px; }
    .order-options__label--checkbox::before {
      width: 50px;
      height: 48px;
      top: -8px;
      left: 0; }
    .order-options__label--checkbox::after {
      width: 33px;
      height: 22px;
      top: 3px;
      left: 12px;
      background-image: url("../img/icon-tick.svg"); }
  .order-options__label--text {
    margin-bottom: 0px; }
  .order-options__input {
    font-size: 19px;
    line-height: 19px;
    background-color: transparent;
    box-sizing: border-box; }
    .order-options__input::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 19px; }
    .order-options__input:-ms-input-placeholder {
      font-size: 19px;
      line-height: 19px; }
    .order-options__input::placeholder {
      font-size: 19px;
      line-height: 19px; }
    .order-options__input--text {
      width: 100%;
      padding: 0;
      margin-left: 27px;
      padding-right: 18px;
      padding-left: 18px;
      padding-bottom: 20px;
      border-bottom: 2px solid black; }
  .order-options__message {
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 0;
    padding-right: 0; }
    .order-options__message::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 19px; }
    .order-options__message:-ms-input-placeholder {
      font-size: 19px;
      line-height: 19px; }
    .order-options__message::placeholder {
      font-size: 19px;
      line-height: 19px; }
  .order-options-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .order-options__legend {
    margin-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-order: 1;
        order: 1; } }

@media (min-width: 1150px) {
  .order-options__item--type {
    margin-bottom: 70px; }
  .order-options__item--color {
    padding-top: 70px;
    margin-bottom: 70px; }
  .order-options__item--name {
    padding-bottom: 50px; }
  .order-options__item--phone {
    padding-top: 65px;
    padding-bottom: 40px; }
  .order-options__item--email {
    padding-bottom: 50px; }
  .order-options__item--details {
    padding-top: 50px;
    margin-bottom: 50px; }
  .order-options__item-wrapper {
    margin-left: 64px; }
  .order-options__item-title {
    width: 112px; }
  .order-options__controls {
    width: 700px; }
    .order-options__controls--color {
      width: 780px; }
  .order-options__field--color {
    width: 260px;
    margin-right: 0; }
    .order-options__field--color:last-of-type {
      margin-bottom: 70px; }
  .order-options__message {
    padding-bottom: 0;
    padding-right: 0; }
  .order-options-inner {
    width: 700px;
    margin-left: auto;
    margin-right: auto; }
  .order-options__legend {
    margin-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-order: 1;
        order: 1; } }
