.advantages {
  margin-bottom: 56px;
}
.advantages__title {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color;
  background-color: $bg-color;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-position: 10% top;
}
.advantages-item--quality {
  padding-right: 65px;
  padding-top: 60px;
  padding-bottom: 22px;
  background-image: url("../img/icon-feature-1.svg");
}
.advantages-item--price {
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 30px;
  background-image: url("../img/icon-feature-3.svg");
}
.advantages-item--feature {
  padding-right: 56px;
  padding-top: 52px;
  padding-bottom: 28px;
  background-image: url("../img/icon-feature-5.svg");
}
.advantages-item--handmade {
  padding-right: 6px;
  padding-top: 56px;
  padding-bottom: 29px;
  background-image: url("../img/icon-feature-2.svg");
}
.advantages-item--produced {
  padding-top: 55px;
  padding-bottom:28px;
  background-image: url("../img/icon-feature-4.svg");
}
.advantages-item--package {
  padding-right: 10px;
  padding-top: 55px;
  padding-bottom: 0px;
  background-image: url("../img/icon-feature-6.svg");
}
@media(min-width:$tablet-width) {
  .advantages {
    margin-bottom: 23px;
  }
  .advantages__title {
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
  }
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 334px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px;
  }
  .advantages-item--quality {
    padding-top: 60px;
    padding-bottom: 52px;
    padding-right: 103px;
    flex-shrink: 0;
    order: 0;
    background-position: 10px 5px;
  }
  .advantages-item--price {
    padding-top: 60px;
    padding-bottom: 59px;
    padding-right: 71px;
    flex-shrink: 0;
    order: 2;
    background-position: 2px 7px;
  }
  .advantages-item--feature {
    padding-top: 52px;
    padding-bottom: 63px;
    padding-right: 94px;
    flex-shrink: 0;
    order: 4;
    background-position: 10px 4px;
  }
  .advantages-item--handmade {
    padding-top: 59px;
    padding-bottom: 36px;
    padding-right: 35px;
    flex-shrink: 0;
    order: 1;
    background-position: 5px 8px;
  }
  .advantages-item--produced {
    padding-top: 59px;
    padding-bottom: 35px;
    flex-shrink: 0;
    order:3;
    background-position: -4px 10px;
  }
  .advantages-item--package {
    padding-top: 53px;
    padding-right: 45px;
    flex-shrink: 0;
    order:5;
    background-position: 5px 1px;
  }
}
@media(min-width:$desktop-width) {
  .advantages {
    margin-bottom: 29px;
  }
  .advantages__title {
    width: 700px;
    margin-left: 168px;
    margin-bottom: 45px;
    font-size: 53px;
    line-height: 57px;
  }
  .advantages__list {
    width: 700px;
    margin: 0 auto;
  }
  .advantages__item {
    width: 350px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px;
  }
  .advantages-item--quality {
    padding-top: 60px;
    padding-bottom: 52px;
    padding-right: 120px;
    flex-shrink: 0;
    order: 0;
    background-position: 10px 5px;
  }
  .advantages-item--price {
    padding-top: 60px;
    padding-bottom: 59px;
    padding-right: 90px;
    flex-shrink: 0;
    order: 2;
  }
  .advantages-item--feature {
    padding-top: 52px;
    padding-bottom: 63px;
    padding-right: 110px;
    flex-shrink: 0;
    order: 4;
  }
  .advantages-item--handmade {
    padding-top: 59px;
    padding-bottom: 36px;
    padding-right: 52px;
    flex-shrink: 0;
    order: 1;
  }
  .advantages-item--produced {
    padding-top: 59px;
    padding-bottom: 35px;
    flex-shrink: 0;
    order:3;
  }
  .advantages-item--package {
    padding-top: 53px;
    padding-right: 57px;
    flex-shrink: 0;
    order:5;
  }
}
