.button {
  padding-top: 15px;
  padding-bottom: 14px;
  border: 2px solid $color-third;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-third;
  background-color: $bg-color;
  box-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $text-color-contrast;
    background-color: $color-third;
  }
  &:active {
    color: rgba($text-color-contrast, 0.3);
  }
  &--reviews {
    text-align: center;
  }
  &--feedback {
    width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  &--submit {
    display: block;
    width: 100%;
    border-color: $modal-checked-color;
    background-color: $modal-checked-color;
    color: $text-color-contrast;
  }
  &--submit:hover {
    border-color: darken($modal-checked-color,10%);
    background-color: darken($modal-checked-color,10%);
  }
  &--make-oder {
    display: block;
    margin-left: 34px;
    width: 188px;
    text-align: center;
  }
  &--sent-order {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media(min-width:$tablet-width) {
  .button {
    &--reviews {
    width: 171px;
    align-self: flex-start;
    margin-top: 79px;
    margin-left: auto;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    order: 2;
    }    
    &--feedback {
      width: 226px;
      margin-bottom: 56px;
      font-size: 17px;
      line-height: 20px;
    }
    &--make-oder {
      margin-left: 42px;
      width: 580px;
    }
    &--sent-order {
      width: 230px;
      line-height: 17px;
    }
  }
}
@media(min-width:$desktop-width) {
  .button {
    &--feedback {
      margin-left: 175px;
      margin-bottom: 0;
    }
    &--make-oder {
      width: 226px;
      margin-left: 80px;
      text-align: center;
    }
    &--reviews {
      margin-top: 76px;
    }
  }
}
