.catalog {
}
.catalog__header {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $bg-color-second;
  margin-bottom: 30px;
}
.catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
.catalog__wrapper {
  padding: 0 30px;
}
.catalog__item {
  margin-bottom: 30px;
}
.catalog__item-img {
  display: block;
}
.catalog__item-wrapper {
  border: 1px solid #ededed;
  padding-left: 27px;
  padding-right: 27px;
}
.catalog__item-inner {
  padding-bottom: 20px; 
  border-bottom: 1px solid $border-color;
}
.catalog__item-name {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 24px;
  font-size: 700;
}
.catalog__item-link {
  text-decoration: none;
  color: $text-color;
}
.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $color-third;
}
.catalog__item-buy {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}
.catalog__item-price {
  margin-top: 22px;
  color: $text-color;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__item-to-oder {
  margin-top: 22px;
}