.catalog__header {
  background-color: $bg-color-second;
  margin-bottom: 29px;
}
.catalog__title {
  margin: 0 auto;
  padding-left: 12px;
  padding-top: 70px;
  padding-bottom: 76px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
.catalog__item {
  margin-bottom: 28px;
}
.catalog__item:last-of-type {
  margin-bottom: 31px;
}
.catalog__item-img {
  display: block;
}
.catalog__item-wrapper {
  border: 1px solid #ededed;
  padding-left: 27px;
  padding-right: 27px;
  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
  }
  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
}
.catalog__item-inner {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
}
.catalog__item-name {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 4px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__item-link {
  text-decoration: none;
  color: $text-color;
}
.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $color-third;
}
.catalog__item-buy {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}
.catalog__item-price {
  margin-top: 22px;
  color: $text-color;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__item-to-oder {
  margin-top: 22px;
}
@media(min-width:$tablet-width) {
  .catalog {
    margin-top: -49px;
    border-top: 1px solid $border-color;
  }
  .catalog__header {
    position: relative;
    margin-bottom: 80px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      bottom: -14px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position-x: 5px;
    }
  }
  .catalog__title {
    padding-top: 95px;
    padding-bottom: 78px;
    padding-left: 150px;
    font-size: 43px;
    line-height: 50px;
  }
  .catalog__inner {
    margin-bottom: 54px;
  }
  .catalog__item {
    margin-bottom: 53px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .catalog__item:last-of-type {
    margin-bottom: 0;
  }
  .catalog__item-link {
    width: 334px;
    padding: 0;
    margin: 0;
  }
  .catalog__item-img {
    width: 334px;
    height: 334px;
  }
  .catalog__item-wrapper {
    width: 331px;
    padding: 0;
  }
  .catalog__item-inner {
    margin-left: 24px;
    margin-right: 32px;
    padding-bottom: 170px;
    border-bottom: none;
    &--basket {
      padding-bottom: 148px;
    }
  }
  .catalog__item-name {
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 8px;
    padding-right: 35px;
}
  .catalog__item-description {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog__item-buy {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 25px;
    border-top: 1px solid $border-color;
  }
  .catalog__item-price {
    font-size: 17px;
    line-height: 24px;
  }
}
@media(min-width:$desktop-width) {
  .catalog__header {
    margin-bottom: 130px;
    &::after {
      height: 34px;
      bottom: -19px;
      background-position-x: 5px;
    }
  }
  .catalog__title {
    padding-left: 296px;
    padding-top: 92px;
    padding-bottom: 103px;
    font-size: 53px;
    line-height: 57px;
  }
  .catalog__inner {
    margin-bottom: 56px;
  }
  .catalog__item {
    width: 315px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .catalog__item-link {
    width: 315px;
  }
  .catalog__item-img {
    display: block;
    width: 315px;
    height: 462px;
  }
  .catalog__item-wrapper {
    width: 313px;
  }
  .catalog__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
  }
  .catalog__item-inner {
    padding-bottom: 36px;
    &--basket {
      padding-bottom: 12px;
    }
  }
  .catalog__item-name {
    margin-top: 26px;
    margin-bottom: 6px;
    padding-right: 20px;
}
  .catalog__item-buy {
    margin-left: 25px;
  }
}
