.contacts {
  margin-bottom: 38px;
}
.contacts-wrapper {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts__information {
  width: 100%;
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-third;
}
.contacts__date {
}
.contacts__parameter {
  width: 78px;
  padding-bottom: 30px;
  vertical-align: top;
}
.contacts__value {
  vertical-align: top;
  &--email{
    padding-bottom: 30px;
  }
}
.contacts__link {
  text-decoration: none;
  color: $color-third;
  background-image: linear-gradient(to left, #62d1ba, #62d1ba);
  background-position: 0 100%;
  background-size: 10px 2px;
  background-repeat: repeat-x;
  &:hover {
    color: #46c1ae;
    background-image: linear-gradient(to left, #46c1ae, #46c1ae);
  }
  &:active {
    color: #46c1ae;
    background-image: linear-gradient(to left, #46c1ae, #46c1ae);
    opacity: 0.3;
  }
}
@media(min-width:$tablet-width) {
  .contacts {
    margin-bottom: 0px;
  }
  .contacts-wrapper {
    position: relative;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .contacts__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 81px;
      top: -15px;
      right: 50px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; 
    }
  }
  .contacts__information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 54px;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__information tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts__date {
    margin-right: 50px;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}
@media(min-width:$desktop-width) {
  .contacts {
    width: 1050px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
  }
  .contacts-wrapper {
    width: 525px;
    padding-left: 0;
    padding-right: 525px;
    margin: 0;
  }
  .contacts__title {
    padding-right: 50px;
    margin-top: 69px;
    margin-left: 168px;
    margin-bottom: 52px;
    position: relative;
    font-size: 53px;
    line-height: 57px;
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 81px;
      top: -9px;
      left: -108px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat; 
    }
  }
  .contacts__information {
    display: table;
    width: 301px;
    margin-left: 174px;
    margin-bottom: 77px;
  }
  .contacts__information tbody {
    flex-direction: column;
  }
  .contacts__date {
    margin-right: 0;
  }
}
