.container {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media(min-width:$tablet-width) {
  .container {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}
@media(min-width:$desktop-width) {
  .container {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}
