.heading__inner {
    padding-top: 70px;
    padding-bottom: 75px;
    background-color: $bg-color-second;
}
.heading__description {
    padding-top: 23px;
    padding-bottom: 22px;
    background-color: $bg-color;
}
.heading__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color;
}
.heading__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-third;
}
@media(min-width:$tablet-width) {
  .heading {
    margin-top: -49px;
    border-top: 1px solid $border-color;
  }
  .heading__inner {
    position: relative;
    padding-top: 91px;
    padding-bottom: 80px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      bottom: -16px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position-x: 5px;   
    }
  }
  .heading__title {
    font-size: 43px;
    line-height: 50px;
  }
  .heading__description {
    padding-top: 75px;
    padding-bottom: 73px;
  }
  .heading__text {
    font-size: 17px;
    line-height: 30px;
  }
}
@media(min-width:$desktop-width) {
  .heading {
  }
  .heading__inner {
    padding-top: 93px;
    padding-bottom: 97px;
    &::after {
      height: 34px;
      bottom: -20px;
      background-position-x: 11px;   
    }
  }
  .heading__description {
    padding-top: 128px;
    padding-bottom: 72px;
  }
  .heading__title {
    font-size: 53px;
    line-height: 57px;
  }
  .heading__text {
    margin-left: 175px;
    margin-right: 175px;
  }
}