.map {
  position: relative;
  width: 100%;
  min-height: 457px;
  margin-bottom: 37px;
  background-color: #e7e4dd;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 67px;
    height: 100px;
    margin-left: -33px;
    margin-top: -50px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}
@media(min-width:$tablet-width) {
  .map {
    min-height: 457px;
    margin-bottom: 54px;
    background-image: url("../img/map-tablet@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg")
    }
  }
}
@media(min-width:$desktop-width) {
  .map {
    position: absolute;
    width: 525px;
    height: 458px;
    margin-bottom: 0px;
    top: 0px;
    right: 0px;
    background-image: url("../img/map-desktop@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.jpg")
    }
  }
}
