.map {
  position: relative;
  width: 320px;
  height: 457px;
  margin-bottom: 39px;
  background-color: #e7e4dd;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  &:before {
    position: absolute;
    content: "";
    top: 37%;
    left: 39%;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat; 
  }
}