.modal {
  position: fixed;
  display: none;
  width: 320px;
  min-height: 337px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 46px;
  border: 1px solid $modal-border-color;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
  background-color: $bg-color;
  z-index: 3;
}
.modal-show {
  display: block;
}
.modal__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  color: $text-color;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.modal__choice-size {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  color: $color-third;
}

.modal__size-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
  margin-bottom: 30px;
}
.modal input[type="radio"] {
  display: none;
}
.modal__size-label {
  width: 78px;
  min-height: 48px;
  font-size: 17px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  border: 2px solid $border-color;
  cursor: pointer;
  &:hover {
    border-color: $modal-hover-color;
  }
}
.modal input[type="radio"]:checked + .modal__size-label {
  border-color: $modal-checked-color;
  background-color: $bg-color;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.modal-overlay-show {
  display: block;
}
@media(min-width:$tablet-width) {
  .modal {
    width: 568px;
    min-height: 338px;
    padding-left: 106px;
    padding-right: 106px;
    padding-top: 50px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 25px;
  }
  .modal__choice-size {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .modal__size-label {
    width: 108px;
  }
}
