.order-options {
}
.order-options__item {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  border: none;
  &--type {
    margin-bottom: 43px;
  }
  &--color {
    margin-bottom: 45px;
  }
  &--name {
    margin-bottom: 30px;
  }
  &--details {
    margin-bottom: 20px;
  }
  &--phone {
    margin-bottom: 31px;
  }
  &--email {
    margin-bottom: 31px;
  }
  &--details {
    margin-bottom: 12px;
  }
}
.order-options__item-title {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $color-fourth;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 10px;
    right: 0px;
    background-color: $color-fourth;
    z-index: 2;
  }
  &--name {
    margin-bottom: 29px;
  }
  &--phone {
    margin-bottom: 17px;
  }
  &--email{
    margin-bottom: 18px;
  }
  &--details {
    margin-bottom: 25px;
  }
}
.order-options__item-title span {
  position: relative;
  padding-right: 22px;
  background-color: $bg-color;
  z-index: 3;
}
.order-options__field {
  position: relative;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &--color {
    margin-bottom: 43px;
  }
  &--text {
    margin-bottom: 22px;
  }
  &--email {
    margin-bottom: 20px;
  }
}
.order-options__icon {
  fill: $color-fill;
  &--phone {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 10px;
  }
  &--email {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -3px;
    right: 3px;
    }
  }
.order-options__input {
  font-family: inherit;
  font-style: inherit;
  color: $text-color;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba($color-third,0.3);
  }
  &--radio {
    display: none;
  }
  &--checkbox {
    display: none;
  }
  &--text {
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $text-color;
  }
  &--contacts {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $text-color;
  }
}
.order-options__input--contacts,
.order-options__input--text,
.order-options__message {
  &:hover {
    border-color: $color-input-hover;
  }
  &:focus {
    outline: none;
    border-color: $color-input-hover;
  }
}
.order-options__input--contacts:hover + .order-options__icon,
.order-options__input--contacts:focus + .order-options__icon {
  fill: $color-input-hover;
  opacity: 1;
}
.order-options__label {
  display: block;
  padding-left: 63px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  &--text {
    padding-left: 0;
    margin-bottom: 10px;
  }
}
.order-options__label--radio {
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 2px;
    width: 34px;
    height: 34px;
    border: 2px solid $color-third;
    border-radius: 50%;
  }
  &::after {
    display: none;
    position: absolute;
    content: "";
    top: 4px;
    left: 13px;
    width: 16px;
    height: 16px;
    background-color: $color-input;
    border-radius: 50%;
  }
}
.order-options__label--checkbox {
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 35px;
    top: -10px;
    left: 0;
    border: 2px solid $color-third;
  }
  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 22px;
    height: 24px;
    top: -4px;
    left: 6px;
    background-image: url("../img/icon-tick.svg");
  }
}
.order-options__label:hover::before {
  border-color:  $color-input;
}
.order-options__input:checked + .order-options__label:hover::before {
  border-color:  $color-input;
}
.order-options__input:checked + .order-options__label::after {
  display: block;
}
.order-options__input:disabled + .order-options__label::before,
.order-options__input:disabled + .order-options__label:hover::before,
.order-options__input:disabled:checked + .order-options__label::before,
.order-options__input:disabled:checked + .order-options__label:hover::before{
  border-color: $color-input-disabled;
}
.order-options__message {
  width: 100%;
  min-height: 142px;
  padding-top: 16px;
  padding-left: 15px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid $text-color;
  font-family: inherit;
  font-style: inherit;
  color: $text-color;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba($color-third, 0.3);
  }
}
.order-options__legend {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-third;
  background-color: $bg-color;
}
.order-options-inner {
  margin-bottom: 54px;
}
@media(min-width:$tablet-width) {
  .order-options__item {
    margin-bottom: 0;
    &--type {
      margin-bottom: 70px;
    }
    &--color {
      padding-top: 64px;
      padding-bottom: 11px;
      margin-bottom: 62px;
      background-color: $bg-color-second;
    }
    &--name {
      padding-bottom: 49px;
      background-color: $bg-color;
    }
    &--phone {
      padding-top: 62px;
      padding-bottom: 35px;
      background-color: $bg-color-second;
    }
    &--email {
      background-color: $bg-color-second;
      padding-bottom: 50px;
    }
    &--details {
      padding-top: 49px;
      margin-bottom: 56px;
    }
  }
  .order-options__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .order-options__item-title{
    width: 167px;
    &::before {
      display: none;
    }
    &--details {
      margin-top: 18px;
    }
  }
  .order-options__item-title span {
    padding-right: 0;
    background-color: transparent;
  }
  .order-options__controls {
    width: 501px;
    padding-bottom: 0;
    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .order-options__field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;
    padding-bottom: 0;
    &--type {
      margin-bottom: 56px;
    }
    &--color {
      width: 238px;
      margin-right: 24px;
      margin-bottom: 57px;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    &--text {
      padding-bottom: 0;
      margin-bottom: 35px;
      border: none;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &--phone {
      padding-bottom: 0;
    }
  }
  .order-options__label {
    font-size: 19px;
    line-height: 19px;
  }
  .order-options__label--radio {
    padding-left: 80px;
    &::before {
      top: -15px;
      left: 0;
      width: 50px;
      height: 48px;
    }
    &::after {
      top: 1px;
      left: 16px;
      width: 22px;
      height: 22px;
    }
  }
  .order-options__label--checkbox {
    padding-left: 80px;
    &::before {
      width: 50px;
      height: 48px;
      top: -15px;
      left: 0;
    }
    &::after {
      width: 33px;
      height: 22px;
      top: 3px;
      left: 12px;
      background-image: url("../img/icon-tick.svg");
    }
  }
  .order-options__label--text {
    margin-bottom: 0px;
  }
  .order-options__input {
    font-size: 19px;
    line-height: 19px;
    background-color: transparent;
    box-sizing: border-box;
    &::placeholder {
      font-size: 19px;
      line-height: 19px;
    }
    &--text {
      width: 100%;
      padding: 0;
      margin-left: 26px;
      padding-right: 17px;
      padding-left: 16px;
      padding-bottom: 14px;
      border-bottom: 2px solid $text-color;
    }
    &--contacts {
      width: 100%;
      padding: 0;
      margin-left: 1px;
      padding-right: 17px;
      padding-left: 17px;
      padding-bottom: 14px;
      border-bottom: 2px solid $text-color;
    }
  }
.order-options__icon {
  &--phone {
    width: 25px;
    height: 25px;
    top: 0;
    right: 25px;
  }
  &--email {
    width: 32px;
    height: 32px;
    top: 0px;
    right: 20px;
  }
}
  .order-options__message {
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 0;
    padding-right: 0;
    &::placeholder {
      font-size: 19px;
      line-height: 19px;
    }
  }
  .order-options-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 51px;
  }
  .order-options__legend {
    margin-bottom: 0;
    align-self: center;
    font-size: 17px;
    order: 1;
  }
}
@media(min-width:$desktop-width) {
  .order-options__item {
    &--type {
      margin-bottom: 67px;
    }
    &--color {
      padding-top: 65px;
      padding-bottom: 0px;
      margin-bottom: 59px;
    }
    &--name {
      padding-bottom: 52px;
    }
    &--phone {
      padding-top: 61px;
      padding-bottom: 36px;
    }
    &--email {
      padding-bottom: 47px;
    }
    &--details {
      padding-top: 50px;
      margin-bottom: 50px;
    }
  }
  .order-options__item-wrapper {
    margin-left: 64px;
  }
  .order-options__item-title{
    width: 114px;
  }
  .order-options__controls {
    width: 700px;
    &--color {
      width: 800px;
    }
    &--details {
      margin-top: 15px;
    }
  }
  .order-options__field {
    &--color {
      width: 261px;
      margin-right: 1px;
      &:last-of-type {
        margin-bottom: 70px;
      }
    }
  }
.order-options__icon {
  &--phone {
    width: 25px;
    height: 25px;
    top: 0;
    right: 10px;
  }
  &--email {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -2px;
    right: 7px;
  }
}
  .order-options__message {
    padding-bottom: 0;
    padding-right: 0;
  }
  .order-options-inner {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .order-options__legend {
    margin-bottom: 0;
    align-self: center;
    order: 1;
  }
}
