.page-footer {
  margin-top: 39px;
  background-color: $bg-color-second;
}
.page-footer__logo {
  display: none;
}
.page-footer__logo-img {
  diplay: block;
  max-width: 100%;
  height: auto;
}
.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 145px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 39px;
}
.page-footer__title {
  font-size: 0px;
}
.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
}
.page-footer__copyright-title {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-left: 39px;
  margin-right: 52px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}
.page-footer__copyright-link {
  width: 27px;
  height: 34px;
  margin-top: 33px;
  margin-bottom: 23px;
  font-size: 0px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
@media (min-width: 768px) {
  .page-footer {
  margin-top: 57px;
  }
  .page-footer__wrapper {
    min-height: 143px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .page-footer__logo {
    display: block;
    margin-right: 158px;
    width: 102px;
    height: 34px;
  }
  .page-footer__social {
    border: none;
  }
  .page-footer__social-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .page-footer__copyright {
    align-items: center;
    margin-left: auto;
  }
  .page-footer__copyright-title {
    margin: 0;
    margin-right: 30px;
  }
  .page-footer__copyright-link {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1250px) {
  .page-footer {
    margin-top: 105px;
  }
  .page-footer__logo {
    margin-right: 357px;
  }
}
