.page-header {
  background-color: $bg-color;
  color: $text-color;
}
.page-header__wrapper {
  @include container;
  position: relative;
  border-bottom: 1px solid #ececec;
}
.page-header__inner {
  padding-top: 22px;
  padding-bottom: 22px;
}
.page-header__logo {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 36px;
}
.page-header__logo[href]{
  &:hover {
    opacity: 0.6;
    cursor: pointer
  }
  &:active {
    opacity: 0.3;
  }
}
.page-header__logo img {
  display: block;
  width: 86px;
  height: 36px;
}
@media (min-width: $tablet-width) {
  .page-header__inner {
    padding-bottom: 20px;
}
  .page-header__logo {
    margin-left: 0;
    margin-right: 0;
    width: 114px;
    height: 46px;
  }
}
@media (min-width: $desktop-width) {
  .page-header__inner {
    padding-top: 9px;
    padding-bottom: 8px;
  }
  .page-header__logo {
    margin: 0 auto;
    width: 149px;
    height: 72px;
  }
  
}
