.page-footer {
  background-color: $bg-color-second;
}
.page-footer__logo {
  display: none;
}
.page-footer__logo-img {
  diplay: block;
  max-width: 100%;
  height: auto;
}
.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 145px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 29px;
}
.page-footer__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
}
.page-footer__copyright-title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 39px;
  margin-right: 29px;
  margin-bottom: 23px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: $text-color;
  text-decoration: none;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-top: 0;
  margin-left: 25px;
  font-size: 0px;
  }
.page-footer__academy-icon {
  fill: $color-icon;
}
.page-footer__copyright-title:hover .page-footer__academy-icon {
  fill: $color-icon-hover;
}
.page-footer__copyright-title:active {
  opacity: 0.3;
}
.page-footer__copyright-title:active .page-footer__academy-icon{
  fill: $color-icon-hover;
}
@media (min-width: $tablet-width) {
  .page-footer {
  }
  .page-footer__wrapper {
    min-height: 143px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .page-footer__logo {
    display: block;
    margin-right: 161px;
    width: 102px;
    height: 34px;
  }
  .page-footer__logo-icon {
    fill: #231f20;
  }
  .page-footer__logo[href]:hover .page-footer__logo-icon {
    fill: $color-hover; 
  }
  .page-footer__logo[href]:active .page-footer__logo-icon {
    fill: $color-hover;
    opacity: 0.3;
  }
  .page-footer__social {
    border: none;
  }
  .page-footer__social-wrapper {
    margin-top: 1px;
    margin-bottom: 0;
    padding: 0;
    align-items: center;
  }
  .page-footer__copyright {
    align-items: center;
    margin-left: 78px;
  }
  .page-footer__copyright-title {
    display: block;
    margin: 0;
    margin-top: 4px;
  }
  .page-footer__copyright-link {
    margin: 0;
    padding: 0;
    margin-left: 22px;
  }
}
@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 0;
  }
  .page-footer__logo {
    margin-right: 349px;
  }
  .page-footer__social-wrapper {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
  }
  .page-footer__copyright {
    margin-top: 0px;
    margin-left: auto; 
  }
  .page-footer__copyright-title {
    margin-top: 0px;
  }
}
