.page-footer {
  background-color: $bg-color-second;
}
.page-footer__logo {
  display: none;
}
.page-footer__logo-img {
  diplay: block;
  max-width: 100%;
  height: auto;
}
.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 145px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 26px;
}
.page-footer__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
}
.page-footer__copyright-title {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-left: 39px;
  margin-right: 29px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}
.page-footer__copyright-link {
  width: 27px;
  height: 34px;
  margin-top: 33px;
  margin-bottom: 23px;
  font-size: 0px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
@media (min-width: $tablet-width) {
  .page-footer {
  }
  .page-footer__wrapper {
    min-height: 143px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .page-footer__logo {
    display: block;
    margin-right: 158px;
    width: 102px;
    height: 34px;
  }
  .page-footer__social {
    border: none;
  }
  .page-footer__social-wrapper {
    margin-top: 1px;
    margin-bottom: 0;
    padding: 0;
    align-items: center;
  }
  .page-footer__copyright {
    align-items: center;
    margin-left: auto;
  }
  .page-footer__copyright-title {
    margin: 0;
    margin-top: 4px;
    margin-right: 30px;
  }
  .page-footer__copyright-link {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 0;
  }
  .page-footer__logo {
    margin-right: 357px;
  }
  .page-footer__social-wrapper {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
  }
  .page-footer__copyright {
    margin-top: 0px;
  }
  .page-footer__copyright-title {
    margin-top: 0px;
  }
}
