.production {
  padding-top: 23px;
  margin-bottom: 59px;
  border: 1px solid $border-color;
}
.production__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 34px;
    width: 32px;
    height: 28px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }
}
.production__video {
  position: relative;
  width: 260px;
  height: 150px;
  margin-bottom: 28px;
}
.production__video-file {
  background-image: url("../img/video-mobile@1x.jpg");
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}
.production__play {
  position: absolute;
  top: 37px;
  left: 76px;
  width: 102px;
  height: 78px;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
.production__inner {
  padding-bottom: 32px;
  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
  }
  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
}
.production__description {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  padding-right: 37px;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
@media(min-width:$tablet-width) {
  .production {
    padding: 0;
    margin-bottom: 63px;
    border: none;
  }
  .production-wrapper {
    display: flex;
    flex-direction: column;
  }
  .production__title {
    margin-bottom: 0;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-left: 108px;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    font-size: 20px;
    line-height: 24px;
    order: 1;
    &::before {
      top: 35px;
      left: 42px;
    }
  }
  .production__video {
    position: relative;
    margin-bottom: 0;
    width: 668px;
    height: 455px;
    order: 0;
    &:before {
      top: 180px;
      left: 298px;
    }
  }
  .production__video-file {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
  .production__play {
    top: 191px;
    left: 283px;
  }
  .production__inner {
    padding-bottom: 45px;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    order: 3;
  }
  .production__description {
    padding-left: 42px;
    padding-right: 44px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 33px;
  }
}
@media(min-width:$desktop-width) {
  .production {
    width: 1050px;
    margin-bottom: 105px;
  }
  .production-wrapper {
    position: relative;
  }
  .production__video {
    position: absolute;
    width: 682px;
    height: 454px;
    top: 0px;
    left: 0px;
    &:before {
      width: 102px;
      height: 78px;
      top: 192px;
      left: 292px;
    }
  }
  .production__play {
    top: 191px;
    left: 291px;
  }
  .production__video-file {
    width: 682px;
    height: 456px;
    background-image: url("../img/video-desktop@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
  .production__title {
    position: relative;
    min-height: 48px;
    margin: 0;
    padding: 0;
    margin-left: 681px;
    padding-bottom: 37px;
    padding-top: 95px;
    padding-left: 78px;
    padding-right: 138px;
    &::before {
      position: absolute;
      top: 44px;
      left: 81px;
    }
  }
  .production__inner {
    margin-left: 681px;
    padding-bottom: 58px;
  }
  .production__description {
    min-height: 120px;
    margin-bottom: 0;
    padding-left: 78px;
    padding-bottom: 43px;
  }
}
