.reviews {
  padding-bottom: 50px;
}
.reviews-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.reviews__title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color;
  background-color: $bg-color;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.reviews__text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.reviews__author {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.reviews__author-email  {
  margin-bottom: 30px;
}
.reviews__author-email-link {
  font-size: 17px;
  line-height: 30px;
  color: $color-third;
  text-decoration: none;
}
.reviews__pages {
  display: flex;
  margin-bottom: 38px;
}
.reviews__pages-item {
  width: 129px;
  height: 50px;
  font-size: 0px;
  border: 1px solid $border-color;
  background-color: $bg-color;
  background-repeat: no-repeat;
  &:hover {
  }
  &:active {
  }
}
.reviews__pages-item--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 20% center;
}
.reviews__pages-item--next {
  margin-left: -1px;
  background-image: url("../img/icon-right-arrow.svg");
  background-position: 80% center;
}
@media(min-width:$tablet-width) {
  .reviews {
    margin-bottom: 70px;
    padding-bottom: 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
  }
  .reviews-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews__title {
    width: 334px;
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 43px;
    line-height: 50px;
    background-color: transparent;
    order: 1;
  }
  .reviews__content {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    order:3;
  }
  .reviews__text {
    margin-bottom: 40px;
  }
  .reviews__pages {
    position: absolute;
    margin:0;
    right: 0px;
    bottom: 50px;
    width: 167px;
  }
  .reviews__pages-item {
    border: none;
    background-color: transparent;
  }
  .reviews__pages-item--prev {
    background-position: 20% center;  
  }
  .reviews__pages-item--next {
    margin-left: 0px;
    background-position: 80% center;
  }
}
@media(min-width:$desktop-width) {
  .reviews {
    margin-bottom: 65px;
    background:none;
  }
  .reviews-wrapper {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .reviews__title {
    margin-left: 175px;
  }
  .reviews__content {
    margin-left: 175px;
  }
}
