.search-field {
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.search-field__inner {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
}
.search-field__input[type="search"] {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 46px;
  padding-right: 5px;
  box-sizing: border-box;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #d0f1ea;
  }
  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $text-color;
  }
}
.search-field__label {
  font-size: 0px;
}
.search-field__button {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 32px;
  left: 2px;
  font-size: 0px;
  background-color: $bg-color;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
}
.search-field__button:hover {
  opacity: 0.6;
}
.search-field__button:active {
  opacity: 0.3;
}
@media (min-width: $tablet-width) {
  .search-field {
    width: 80px;
    padding: 0;
    margin: 0;
    margin-left: 321px;
    border: none;
    border-left: 1px solid $border-color;
    text-align: center;
  }
  .search-field__inner {
    width: 80px;
  }
  .search-field__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .search-field__input {
    display: none;
  }
  .search-field__button {
    position: static;
    margin-top: 36px;
    margin-bottom:  33px;
    margin-left: 30px;
  }
}
@media(min-width:$desktop-width) {
  .search-field {
    width: 82px;
  }
}
