.search-field {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.search-field__inner {
  position: relative;
  padding: 0 30px;
}
.search-field__input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  box-sizing: border-box;
  border: none;
}
@include input-placeholder {
  font-size: 17px; 
  line-height: 24px;
  font-weight: 700;
  color: $text-color;
}
.search-field__label {
  font-size: 0px;
}
.search-field__button {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 5px;
  left: 30px;
  font-size: 0px;
  background-color: $bg-color;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
}
.search-field__input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #d0f1ea;
}
.search-field__button:hover {
  opacity: 0.6;
} 
.search-field__button:active {
  opacity: 0.3;
} 
