.shopping-cart {
  border-bottom: 1px solid #ececec;
}
.shopping-cart__link {
  position: relative;
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 29px;
  box-sizing: border-box;
  color: $text-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}
.shopping-cart__indicator {
  padding-left: 5px;
}
.shopping-cart__link-icon {
  width: 21px;
  height: 19px;
  margin-right: 20px;
  fill: #d3d2d2;
}
.shopping-cart__link:hover {
  color: rgba($text-color, 0.6);
} 
.shopping-cart__link:hover .shopping-cart__link-icon {
  fill: $color-icon;
}
.shopping-cart__link:active {
  opacity: 0.3;
}
@media (min-width: $tablet-width ) {
  .shopping-cart {
    width: 264px;
    border: none;
    border-left: 1px solid $border-color;
  }
  .shopping-cart__link {
    margin: 0;
    margin-left:32px;
    padding-left: 52px;
    margin-top: 30px;
  }
}
@media(min-width:$desktop-width) {
  .shopping-cart__link {
    margin-left: 29px;
  }
}
