.social-link {
  font-size: 0px;
  &--instagram {
    width: 22px;
    height: 21px;
    margin-right: 40px;
  }
  &--Facebook {
    width: 15px;
    height: 29px;
    margin-right: 40px;
  }
  &--Twitter {
    width: 24px;
    height: 20px;
  }  
}
.social-link__icon {
  fill: $color-fill;
}
.social-link:hover .social-link__icon {
    fill: $color-hover;
}
.social-link:active .social-link__icon {
    fill: $color-hover;
    opacity: 0.3;
}
