.special-offer {
  position: relative;
  padding-bottom: 42px;
  margin-bottom: 28px;
  background-color: $bg-color;
  color: $text-color;
  &::after {
    position: absolute;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: 8px;    
  }
}
.special-offer__header {
  margin-bottom: 23px;
}
.special-offer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color;
  background-color: $bg-color;
}
.special-offer__detail {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-second;
  text-transform: uppercase;
}
.special-offer__contetns {
  display: flex;
  flex-direction: column;
}
.special-offer__text {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
}
.special-offer__specification {
  width: 100%;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.special-offer__parameters {
  border-bottom: 1px solid #ececec;
}
.special-offer__parameter {
  padding-top: 14px;
  padding-bottom: 6px;
  padding-right: 12px;
  text-align: left;
}
.special-offer__value {
  padding-top: 14px;
  padding-bottom: 6px;
}
.special-offer__img {
  margin: 0px;
  padding: 0px;
  margin-bottom: 24px;
}
.special-offer__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.special-offer__buy {
  display: flex;
  flex-direction: column;
}
.special-offer__price {
  align-self: center;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}
@media(min-width:$tablet-width) {
  .special-offer {
    padding-bottom: 40px;
    margin-bottom: 77px;
    &::after {
      bottom: -30px;
      height: 17px;
      background-position-x: 20px;
    }
  }
  .special-offer__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .special-offer__title {
    width: 500px;
    margin: 0;
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .special-offer__detail {
    width: 72px;
    min-height: 34px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 70px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }
  .special-offer__contetns {
    position: relative;
    width: 668px;
    display: flex;
    flex-direction: column;
  }
  .special-offer__description {
    width: 290px;
    margin-right: 44px;
  }
  .special-offer__text {
    margin-bottom: 31px;
    font-size: 17px;
    line-height: 30px;
  }
  .special-offer__specification {
    margin-bottom: 56px;
  }
  .special-offer__parameter {
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .special-offer__value {
    padding-top: 13px;
    padding-bottom: 8px;
  }
  .special-offer__img {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 334px;
    margin-bottom: 0;
    height: 404px;
    flex-shrink: 0;
  }
  .special-offer__img img {
    width: 334px;
    height: 404px;
  }
  .special-offer__buy {
    width: 290px;
    margin-right: 44px;
  }
  .special-offer__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}
@media(min-width:$desktop-width) {
  .special-offer {
    padding-bottom: 69px;
    margin-bottom: 86px;
    &::after {
      display: none;
    }
  }
  .special-offer__inner {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -94px;
      width: 100%;
      height: 23px;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position-x: 29px;    
    }
  }
  .special-offer__header {
    position: relative;
    margin-bottom: 40px;
  }
  .special-offer__title {
    position: relative;
    width: auto;
    order: 2;
    margin-bottom: 10px;
    font-size: 53px;
    line-height: 57px;
    background-color: transparent;
    z-index: 2;
  }
  .special-offer__detail {
    margin-top: 15px;
    margin-left: 46px;
    margin-right: 56px;
  }
  .special-offer__contetns {
    position: static;
    width: 875px;
    margin-left: 175px;
  }
  .special-offer__description {
    width: 292px;
    margin-right: 58px;
  }
  .special-offer__text {
    margin-bottom: 48px;
  }
  .special-offer__specification {
    margin-bottom: 108px;
  }
  .special-offer__img {
    position: absolute;
    width: 525px;
    height: 635px;
    top: -50px;
    right: 0px;
  }
  .special-offer__img img {
    width: 525px;
    height: 635px;
  }
  .special-offer__buy {
    width: 294px;
  }
}
